<!-- IntelliBoard - Copyright (C) 2021 Moritz Kaufmann -->
<!-- Board Template -->

<% contents = rawContents %>
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header', { lang: lang, title: title, stylesheets: 'board'}); %>
</head>

<body>

        <!--Tool Header-->
        <center><div class="header" id="header">
            <%- include('partials/board/headerbar', { colors: contents.colors }); %>
        </div></center>

        <!--Canvas Content-->
        <div id="content" class="canvascontent">
            <!-- Grid Canvas --><img
                    src=""
                    id="gridImage"
                    style="width: 100%;height: 100%;position: absolute;top:0;left:0;background-color: white;"
            />

            <!-- Other Content --><div
                    id="otherContents"
                    style="width: 100%;height: 100%;position: absolute;top:0;left:0"
            ></div>

            <!-- Brush Canvas --><canvas
                    id="brush"
                    style="width: 100%;height: 100%;background-color: transparent; position: absolute;top:0;left:0"
            ></canvas>
        </div>

        <!--Brush View at bottom-->
        <div class="brushview" style="background-color: #F5F5F5;">
            <%- include('partials/board/toolbar', { toolbar: toolbar }); %>
        </div>

        <%- include('partials/board/richtexteditor', { colors: contents.colors }); %>

        <!-- Scripts for IntelliBoard -->
        <script>
            var exports = {};
            function require(a){}

            $('.brushview').draggable();
            $('.header').draggable();

            if(navigator.userAgent.indexOf("Firefox") != -1 ){
                alert("Information for Firefox Users: This version of IntelliBoard contains some known Bugs for Firefox. Please use Google Chrome or other Chromium based Browsers for better experience with IntelliBoard!")
            }

            var parsedContent = JSON.parse(`<%- JSON.stringify(contents) %>`);
            var book = "<%- book %>";
            var pageid = "<%- pageid %>";
        </script>
        <script src="/GridManager.js"></script>
        <script src="/HeaderToolManager.js"></script>
        <script src="/ToolManager.js"></script>
        <script src="/Model.js"></script>
        <script src="/CanvasBuilder.js"></script>
        <script src="/DragDropAPI.js"></script>
        <script src="/RichTextEditor.js"></script>
        <script src="/AjaxUpdater.js"></script>
        <script src="/IntelliBoard.js"></script>
    </body>

</html>