<!-- IntelliBoard - Copyright (C) 2021 Moritz Kaufmann -->
<!-- Login Template -->
<html>
<head>
    <%- include('../partials/header', { lang: lang, title: title, stylesheets: 'Auth'}); %>
</head>
<body>

<!-- Modal -->
<div class="modal">

    <!-- Login Form -->
    <form class="modal-content animate" method="post">
        <div class="container">

            <center><h2 style="color: black"><%= lang.authorization.login.header %></h2></center>

            <!-- Parameters -->
            <% if(WrongData) { %>
            <center><h3 style="color: red;" id="wrongdata"><%= lang.authorization.login.wrongData %></h3></center>
            <% } %>

            <% if(CreateAccount) { %>
            <center><h3 style="color: #30bc30;" id="createAccount"><%= lang.authorization.login.createAccount %></h3></center>
            <% } %>

            <% if(UpdatedPW) { %>
            <center><h3 style="color: #30bc30;" id="updatedpw"><%= lang.authorization.login.updatedPW %></h3></center>
            <% } %>

            <!-- Inputs -->
            <label for="username"><b><%= lang.authorization.login.username %></b></label>
            <input type="text" placeholder="Max Mustermann" name="username" required>

            <label for="password"><b><%= lang.authorization.login.password %></b></label>
            <input type="password" placeholder="" name="password" required>

            <button type="submit"><%= lang.authorization.login.login %></button>
        </div>

        <!-- Bottom of Form -->
        <div id="container" class="container" style="background-color:#d9d9d9">
            <button type="button" onclick="document.location.href='register'" class="cancelbtn"><%= lang.authorization.login.register %></button>
            <span class="psw"><a onclick="alert('This Feature will coming soon!')"><%= lang.authorization.login.passwordLost %></a></span>
        </div>
    </form>
</div>

</body>
</html>
